<div id="<%= dom_id game %>">
  <%= image_tag "board_game_images/#{game.name}.jpg" %>

  <div>
    <strong>Name:</strong>
    <%= game.name %>
  </div>

  <div>
    <strong>Condition:</strong>
    <%= game.condition %>
  </div>

  <div>
    <strong>Price cents:</strong>
    <%= game.price_cents %>
  </div>

</div>
